@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('../FONTES/IDroid.otf') format('opentype');
    font-weight: normal;
}


:root{
--cor00: #c5ebd6;
--cor1: #83e1ad;
--cor2: #3ddc83;
--cor3: #2fa866;
--cor4: #1a5c37;
--cor5: #063d1e;

--font-padrao: arial, Helvetica, sans-serif;
--font-destaque: 'Bebas Neue', cursive;
--font-Android: 'Android', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor1);
    font-family: var(--font-padrao);
   
}
header{
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    padding-top: 40px;
    min-height: 150px; 
}

header > h1 {
    color: white;
    font-family: var(--font-destaque);
    margin-bottom: 20px;
    text-align: center;
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.274);
}

header > p {
    color: white;
    font-family: var(--font-destaque);
    font-size: 1.2em;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 80px;
    padding-bottom: 30px;
    margin: auto;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
}

nav{
   padding: 10px;
   box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.329);
}

nav > a {
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.3s;
}

nav > a:hover{
    background-color: var(--cor2);
    color: var(--cor4);
    border-radius: 5px;
}

main{
    background-color: white;
    margin: auto;
    font-family: var(--font-padrao);
    max-width: 1000px;
    min-width: 270px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.425);
}

main p {
   margin: 15px 0px;
   text-align: justify;
   text-indent: 10px;
}

main strong{
    color: var(--cor4);
    font-weight: bold;
   
}

main a{
    text-decoration: none;
    color: var(--cor4);
    font-weight: bold;
    background-color: var(--cor1);
}

main a:hover{
    text-decoration: underline;
    background-color: var(--cor2);
}

main h2{
    color: var(--cor4);
    font-family:var(--font-Android) ;
    background-image: linear-gradient(to right, var(--cor1), transparent);
}
img{
    width: 100%;
}

.pequena{
    display: block;
    max-width: 350px;
    margin: auto;
}

article{
    border-radius: 10px;
    padding: 20px;   
}

.lista{
    background-color: #c5ebd6;
    border-radius: 10px;
}

#paragrafo{
    padding-top: 15px;
}


.titulo{
    background-color: var(--cor3);
    padding: 10px 10px 0px 10px;
    border-radius: 10px 10px 0px 0px;
    margin: -20px;
    color: white;
}

abbr{
    text-decoration: none;
}

ul{
   list-style-type: '\2714\0020\0020';
   columns: 2;
   list-style-position: inside;
}

div.video{
  position: relative;
  background-color: var(--cor4);
  height: 0px;
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: 15px;
  padding-bottom: 59%;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

.embaixo {
    background-color: white;
    text-align: center;   
    margin: 0px;
}

footer{
    text-align: center;
    background-color: var(--cor5);
    color: white;
    margin-top: 30px;
    padding: 5px;
}

footer a{
    color: white;
    text-decoration: none;
}

footer a:hover {
    background-color: var(--cor3);
    text-decoration: underline;
}